@import "../../global.scss";

.experience {
  background-color: #FFD9C0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container::-webkit-scrollbar {
    display: none;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  }
  h1 {
    text-align: left;
    font-size: 50px;
    text-decoration: underline;

    @include mobile{
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {

    @include mobile{
      width: 100%;
    }
    .tittle{
      margin-top: 10px;
      font-size: 30px;
      font-weight: bold;
      margin-left: 10%;
      width: 80%;
    }
    .subtitle{
      margin-bottom: 5px;
      font-size: 20px;
      font-style: italic;
      font-weight: lighter;
      width: 80%;
    }
    .body{
      font-weight: lighter;
      font-size: 18px;
      padding-left: 1.5%;
      width: 90%;
      margin-bottom: 2.5%;
    }
    .myList{  
      .container::-webkit-scrollbar {
        display: none;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      }    
      content: '■';
      font-size: 1.1em; 
    }
  }
}